<h3>Journals</h3>

<h4>2021</h4>

<ul>
    <li>
        <i>G. Vallicrosa, K. Himri, P. Ridao, N. Gracias</i>
        <a href="https://doi.org/10.3390/s21206740">Semantic Mapping for Autonomous Subsea Intervention</a> Sensors vol. 21 num. 20 pp. 6740 ISSN 1424-8220 DOI 10.3390/s21206740<br> Oct 2021
    </li>
    <li>
        <i>M. Montseny, C. Linares, N. Viladrich, M. Biel, N. Gracias, P. Baena, E. Quintanilla, S. Ambroso, J. Grinyó, A. Santín, J. Salazar, M. Carreras, N. Palomeras, L. Magí, G. Vallicrosa, J.-M. Gili, A. Gori</i>
        <a href="https://doi.org/10.1016/j.biocon.2021.109301">Involving fishers in scaling up the restoration of cold-water coral gardens on the Mediterranean continental shelf</a> Biological Conservation vol. 262 pp. 109301 ISSN 0006-3207 DOI 10.1016/j.biocon.2021.109301<br> Oct 2021
    </li>
    <li>
        <i>V. Puzenat, J. Escartin, J.-E. Martelat, T. Barreyre, S. Le Moine Bauer, P. Nomikou, N. Gracias, P. Allemand, V. Antoniou, O. Coskun, R. Garcia, P. Grandjean, S. L. Jørgensen, L. Magí, M. Mandalakis, W. Orsi, P. Polymenakou, A. Schouw, G. Vallicrosa, O. Vlasopoulos</i>
        <a href="https://doi.org/10.1016/j.margeo.2021.106521">Shallow-water hydrothermalism at Milos (Greece): Nature, distribution, heat fluxes and impact on ecosystems</a> Marine Geology vol. 438 pp. 106521 ISSN 0025-3227 DOI 10.1016/j.margeo.2021.106521<br> May 2021
    </li>
</ul>

<h4>2020</h4>

<ul>
    <li>
        <i>Masmitja, I.; Navarro, J.; Gomariz, S.; Aguzzi, J.; Kieft, B.; O'Reilly, T.; Katija, K.; Bouvet, P. J.; Fannjiang, C.; Vigo, M.; Puig, P.; Alcocer, A.; Vallicrosa, G.; Palomeras, N.; Carreras, M.; del Rio, J.; Company, J. B.</i>
        <a href="http://dx.doi.org/10.1126/scirobotics.abc3701">Mobile robotic platforms for the acoustic tracking of deep-sea demersal fishery resources</a> Science Robotics vol. 5 num. 48 ISSN 2470-9476 DOI 10.1126/scirobotics.abc3701<br> November 2020
    </li>
</ul>

<h4>2018</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Ridao, P.</i>
        <a href="http://www.mdpi.com/1424-8220/18/5/1386">H-SLAM: Rao-Blackwellized Particle Filter SLAM Using Hilbert Maps</a> Sensors vol. 18 num. 5 pp. 1386 ISSN 1424-8220 DOI 10.3390/s18051386<br> May 2018
    </li>
    <li>
        <i>Palomeras, N.; Vallicrosa, G.; Mallios, A.; Bosch, J.; Vidal, E.; Hurtos, N.; Carreras, M.; Ridao, P.</i>
        <a href="https://www.sciencedirect.com/science/article/pii/S0029801818301367">AUV homing and docking for remote operations</a> Ocean Engineering vol. 154 pp. 106-120 ISSN 0029-8018 DOI 10.1016/j.oceaneng.2018.01.114<br> February 2018
    </li>
</ul>

<h4>2016</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Ridao, P.;</i>
        <a href="http://dx.doi.org/10.1016/j.arcontrol.2016.09.007">Sum of Gaussian Single Beacon Range-Only Localization for AUV Homing</a> Annual Reviews in Control vol. 42 pp. 177-187 ISSN 1367-5788 DOI 10.1016/j.arcontrol.2016.09.007<br> September 2016
    </li>
</ul>

<h4>2014</h4>

<ul>
    <li>
        <i>Melgoza, E.L.; Vallicrosa, G.; Sereno, L.; Ciurana, J.; Rodriguez, C.A.</i>
        <a href="http://dx.doi.org/10.1108/RPJ-01-2012-0003">Rapid tooling using 3D printing system for manufacturing of customized tracheal stent</a> Rapid Prototyping Journal vol. 20 num. 1 pp. 2-12 ISSN 1355-2546 DOI 10.1108/RPJ-01-2012-0003<br>  2014
    </li>
</ul>

<h4>2010</h4>

<ul>
    <li>
        <i>Miguez, S.; Vallicrosa, G.; Ciurana, J.;</i>
        <a href="http://dx.doi.org/10.1504/IJMMS.2010.036066">Modelling manufacturing processes: a comparison between multiple regression analysis and the neural networks approach</a> International Journal of Mechatronics and Manufacturing Systems (IJMMS) vol. 3 num. 5-6 pp. 405-424 ISSN 1753-1047 DOI 10.1504/IJMMS.2010.036066<br>  2010
    </li>
</ul>

<h3>Congress</h3>

<h4>2021</h4>

<ul>
    <li>
        <i>P.-N. Messan, S. Krupinski, G. Vallicrosa, P. Ridao, F. Maurelli</i>
        <strong>Evaluation of computer networking methods for interaction with remote robotic systems</strong> IEEE AFRICON 2021 ISSN 2153-0033<br> Arusha, ACCEPTED 2021
    </li>
    <li>
        <i>J. Villa, G. Vallicrosa, J. Aaltonen, P. Ridao, K. T. Koskinen</i>
        <a href="https://doi.org/10.1109/IEEECONF38699.2020.9389247">Model-based Guidance, Navigation and Control architecture for an Autonomous Underwater Vehicle</a> MTS/IEEE Global Oceans 2020: Singapore - U.S. Gulf Coast pp. 1-6 ISSN 0197-7385 DOI 10.1109/IEEECONF38699.2020.9389247<br> Singapore, April 2021
    </li>
</ul>

<h4>2020</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Fumas, M. J.; Huber, F.; Ridao, P.</i>
        <a href="https://doi.org/10.1109/AUV50043.2020.9267935">Sparus II AUV as a Sensor Suite for Underwater Archaeology: Falconera Cave Experiments</a> 2020 IEEE/OES Autonomous Underwater Vehicles Symposium pp. 1-5 ISSN 2377-6536 DOI 10.1109/AUV50043.2020.9267935<br> St Johns, November 2020
    </li>
    <li>
        <i>Puzenat, V.; Martelat, J.; Escartin, J.; Barreyre, T.; Gracias, N.; Vallicrosa, G.; Garcia, R.; Magí, L.; Nomikou, P.; Grandjean, P.; Allemand, P.; Schouw, A.; Le Moine Bauer, S.; Leth Jørgensen, S.; Antoniou, V.; Vlasopoulos, O.; Polymenakou, P.; Mandalakis, M.; Coskun, O.; Orsi, W.</i>
        <a href="https://doi.org/10.5194/egusphere-egu2020-11612">Integrated regional scale view of Milos submarine hydrothermalism</a> EGU General Assembly 2020. Published in EGU General Assembly 2020 Conference Abstracts ISSN 978-1-5090-5278-3 DOI 10.5194/egusphere-egu2020-11612<br> Vienna, May 2020
    </li>
</ul>

<h4>2017</h4>

<ul>
    <li>
        <i>Centelles, D.; Moscoso, E.; Vallicrosa, G.; Palomeras, N.; Sales, J.; Marti, J.V.; Marin, R.; Ridao, P.; Sanz, P.J.</i>
        <a href="https://doi.org/10.1109/OCEANSE.2017.8084979">Wireless HROV control with compressed visual feedback over an acoustic link</a> MTS/IEEE OCEANS 2017-Aberdeen pp. 1-7 ISSN 978-1-5090-5278-3 DOI 10.1109/OCEANSE.2017.8084979<br> Aberdeen, June 2017
    </li>
    <li>
        <i>Hurtos, N.; Mallios, A.; Palomeras, N.; Bosch, J.; Vallicrosa, G.; Vidal, E.; Ribas, D.; Gracias, N.; Carreras, M.; Ridao, P.</i>
        <a href="https://doi.org/10.1109/OCEANSE.2017.8084806">LOON-DOCK: AUV homing and docking for high-bandwidth data transmission</a> MTS/IEEE OCEANS 2017-Aberdeen pp. 1-7 ISSN 978-1-5090-5278-3 DOI 10.1109/OCEANSE.2017.8084806<br> Aberdeen, June 2017
    </li>
</ul>

<h4>2016</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Bosch, J.; Palomeras, N.; Ridao, P.; Carreras, M.; Gracias, N.</i>
        <a href="http://dx.doi.org/10.1016/j.ifacol.2016.10.321">Autonomous homing and docking for AUVs using Range-Only Localization and Light Beacons</a> 10th IFAC Conference on Control Applications in Marine Systems (CAMS 2016). Published in IFAC-PapersOnLine vol. 49 num. 23 pp. 54-60 ISSN 2405-8963 DOI 10.1016/j.ifacol.2016.10.321<br> Trondheim, September 2016
    </li>
    <li>
        <i>Mandić, F.; Mišković, N.; Palomeras, N.; Carreras, M.; Vallicrosa, G.</i>
        <a href="http://dx.doi.org/10.1016/j.ifacol.2016.10.320">Mobile beacon control algorithm that ensures observability in single range navigation</a> 10th IFAC Conference on Control Applications in Marine Systems (CAMS 2016). Published in IFAC-PapersOnLine vol. 49 num. 23 pp. 48-53 ISSN 2405-8963 DOI 10.1016/j.ifacol.2016.10.320<br> Trondheim, September 2016
    </li>
</ul>

<h4>2015</h4>

<ul>
    <li>
        <i>Hernandez, J.D; Vidal, E.; Vallicrosa, G.; Galceran, E.; Carreras, M.</i>
        <a href="http://dx.doi.org/10.1109/ICRA.2015.7139336">Online Path Planning for Autonomous Underwater Vehicles in Unknown Environments</a> IEEE International Conference on Robotics and Automation (ICRA 2015) pp. 1152-1157 ISSN 1050-4729 DOI 10.1109/ICRA.2015.7139336<br> Seattle, May 2015
    </li>
    <li>
        <i>Hernandez, J.D.; Vidal, E.; Vallicrosa, G.; Pairet, E.; Carreras, M.</i>
        <a href="http://dx.doi.org/10.1109/OCEANS-Genova.2015.7271469">Simultaneous Mapping and Planning for Autonomous Underwater Vehicles in Unknown Environments</a> MTS/IEEE OCEANS 2015-Genova pp. 1-6 ISSN 978-1-4799-8736-8 DOI 10.1109/OCEANS-Genova.2015.7271469<br> Genova, May 2015
    </li>
    <li>
        <i>Palomer, A.; Ridao, P.; Ribas, D.; Vallicrosa, G.</i>
        <a href="http://dx.doi.org/10.1109/OCEANS-Genova.2015.7271587">Multi-beam Terrain/Object Classification for Underwater Navigation Correction</a> MTS/IEEE OCEANS 2015-Genova pp. 1-5 ISSN 978-1-4799-8736-8 DOI 10.1109/OCEANS-Genova.2015.7271587<br> Genova, May 2015
    </li>
    <li>
        <i>Vallicrosa, G.; Ridao, R.; Ribas, D.</i>
        <a href="http://dx.doi.org/10.1016/j.ifacol.2015.06.005">AUV Single Beacon Range-Only SLAM with a SOG Filter</a> IFAC Workshop on Navigation, Guidance and Control of Underwater Vehicles (NGCUV'2015). Published in IFAC-PapersOnLine vol. 48 num. 2 pp. 26-31 ISSN 2405-8963 DOI 10.1016/j.ifacol.2015.06.005<br> Girona, April 2015
    </li>
    <li>
        <i>Hernandez, J.D.; Vallicrosa, G.; Vidal, E.; Pairet, E.; Carreras, M.; Ridao, P.</i>
        <a href="http://dx.doi.org/10.1016/j.ifacol.2015.06.009">On-line 3D Path Planning for Close-proximity Surveying with AUVs</a> IFAC Workshop on Navigation, Guidance and Control of Underwater Vehicles (NGCUV'2015). Published in IFAC-PapersOnLine vol. 48 num. 2 pp. 50-55 ISSN 2405-8963 DOI 10.1016/j.ifacol.2015.06.009<br> Girona, April 2015
    </li>
</ul>

<h4>2014</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Ridao, P.; Ribas, D.; Palomer, A.</i>
        <a href="http://dx.doi.org/10.1109/IROS.2014.6942871">Active range-only beacon localization for AUV homing</a> IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2014) pp. 2286-2291 ISSN 2153-0866 DOI 10.1109/IROS.2014.6942871<br> Chicago, September 2014
    </li>
    <li>
        <i>Palomeras, N.; Peñalver, A.; Massot-Campos, M.; Vallicrosa, G.; Negre, P.; Fernandez, J.; Ridao, P.; Sanz, P.; Oliver-Codina, G.; Palomer, A.</i>
        <a href="http://dx.doi.org/10.1109/IROS.2014.6942870">I-AUV Docking and Intervention in a Subsea Panel</a> IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2014) pp. 2279-2285 ISSN 2153-0866 DOI 10.1109/IROS.2014.6942870 <br> Chicago, September 2014
    </li>
    <li>
        <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Vallicrosa, G.</i>
        <strong>Octree-Based Subsampling Criteria for Bathymetric SLAM</strong> XXXV Jornadas de Automatica pp. 1-6 ISSN 978-84-697-0589-6<br> Valencia, September 2014
    </li>
    <li>
        <i>Palomeras, N.; Ridao, P.; Ribas, D.; Vallicrosa, G.</i>
        <a href="http://dx.doi.org/10.3182/20140824-6-ZA-1003.01878">Autonomous I-AUV docking for fixed-base manipulation</a> 19th World Congress of the International Federation of Automatic Control (IFAC 2014). Published in IFAC Proceedings Volumes vol. 47 num. 3 pp. 12160-12165 ISSN 1474-6670 DOI 10.3182/20140824-6-ZA-1003.01878<br> Cape Town, August 2014
    </li>
</ul>

<h4>2013</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Palomer, A.; Ribas, D.; Ridao, P.</i>
        <a href="http://dx.doi.org/10.1007/978-3-319-03413-3_4">Realtime AUV Terrain Based Navigation with Octomap in a natural environment</a> First Iberian Robotics Conference (ROBOT 2013). Published in Advances in Intelligent Systems and Computing vol. 252 pp. 41-53 ISSN 978-3-319-03412-6 DOI 10.1007/978-3-319-03413-3_4<br> Madrid, November 2013
    </li>
    <li>
        <i>Vallicrosa, G; Palomer, A; Ribas, D; Ridao, P.</i>
        <a href="http://hdl.handle.net/2099/13926">Towards Realtime AUV SLAM with Occupancy Grids</a> 5th International Workshop on Marine Technology (MARTECH 2013). Published in Instrumentation Viewpoint vol. 15 pp. 59-60 ISSN 1886-4864<br> Girona, October 2013
    </li>
    <li>
        <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Vallicrosa, G.</i>
        <a href="http://dx.doi.org/10.3182/20130918-4-JP-3022.00065">A Comparison of G2o Graph SLAM and EKF Pose Based SLAM With Bathymetry Grids</a> 9th IFAC Conference in Control Applications in Marine Systems (CAMS 2013). Published in IFAC Proceedings Volumes vol. 46 num. 33 pp. 286-291 ISSN 1474-6670 DOI 10.3182/20130918-4-JP-3022.00065<br> Osaka, September 2013
    </li>
    <li>
        <i>Vallicrosa, G.; Palomer, A.; Ribas, D.; Ridao, P.</i>
        <a href="http://dx.doi.org/10.1007/978-3-319-03413-3_4">Realtime AUV Terrain Based Navigation with Octomap</a> XXXIV Jornadas de Automatica. Published in Advances in Intelligent Systems and Computing vol. 252 pp. 41-53 ISSN 978-3-319-03412-6 DOI 10.1007/978-3-319-03413-3_4<br> Terrassa, September 2013
    </li>
    <li>
        <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Gracias, N.; Vallicrosa, G.</i>
        <a href="http://dx.doi.org/10.1109/OCEANS-Bergen.2013.6608091">Bathymetry-based SLAM with Difference of Normals point-cloud subsampling and probabilistic ICP registration</a> 2013 MTS/IEEE OCEANS-Bergen pp. 1-8 ISSN 978-1-4799-0000-8 DOI 10.1109/OCEANS-Bergen.2013.6608091<br> Bergen, June 2013
    </li>
</ul>

<h4>2012</h4>

<ul>
    <li>
        <i>Melgoza, E.L.; Vallicrosa, G.; Sereno, L.; Rosell, A.; Rodriguez, C.A.; Elias, A.; Ciurana, J.</i>
        <strong>Rapid tooling using 3D printing system for manufacturing of customized tracheal stent</strong> I International conference on design and processes for medical devices (PROMED 2012) vol. 1 pp. 73-80 ISSN 978-88-6608-058-9<br> Brescia, May 2012
    </li>
</ul>

<h4>2011</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Delgado, J.; Sereno, L.; Ciurana, J.</i>
        <a href="http://dx.doi.org/10.1201/b11341-79">Continuous contour printing versus layer by layer printing in an additive manufacturing technology</a> Proceedings of the 5th International Conference on Advanced Research in Virtual and Rapid Prototyping (VRAP 2011). Published in Innovative developments in Virtual and Physical Prototyping pp. 491-494 ISSN 978-0-415-68418-7 DOI 10.1201/b11341-79<br> Leiria, October 2011
    </li>
    <li>
        <i>Sereno, L.; Vallicrosa, G.; Delgado, J.; Ciurana, J.</i>
        <a href="http://dx.doi.org/10.1063/1.4707640">A new application for food customization with Additive Manufacturing technologies</a> IV Manufacturing Engineering Society Internacional Conference (MESIC 2011). Published in AIP Conference Proceedings vol. 1431 pp. 825-833 DOI 10.1063/1.4707640<br> Cadiz, September 2011
    </li>
</ul>

<h4>2009</h4>

<ul>
    <li>
        <i>Vallicrosa, G.; Tauler, F.; Ciurana, J.</i>
        <strong>Estudio de viabilidad de fabricación de herramientas esbeltas para EDM por proceso de torneado</strong> Proceedings of the III Manufacturing Engineering Society Internacional Conference (MESIC 2009) vol. 1 pp. 421-426<br> Alcoy, June 2009
    </li>
</ul>

<h3>Presentations</h3>

<h4>2021</h4>

<ul>
    <li>
        <i>Montseny, M.; Vallicrosa, G.; et. al.</i>
        <strong>Restoring Cold-Water Coral Gardens on the Mediterranean Continental Shelf</strong> 9th World Conference on Ecological Restoration <br> Virtual, June 2021
    </li>
</ul>

<h4>2016</h4>

<ul>
    <li>
        <i>Vallicrosa, G.</i>
        <strong>Octomap Terrain Based Navigation for AUVs</strong> VI Jornadas de AUTOMAR <br> Madrid, June 2016
    </li>
</ul>

