<h3>Journals</h3>

<h4>2016</h4>

<ul>
  <li>
    <i>Vallicrosa, G.; Ridao, P.;</i><br>
    <b>Sum of Gaussian Single Beacon Range-Only Localization for AUV Homing</b><br>
    Annual Reviews in Control
    vol. 42 pp. 177-187 ISSN 1367-5788 DOI 10.1016/j.arcontrol.2016.09.007<br>
    September 2016
    <a href="http://dx.doi.org/10.1016/j.arcontrol.2016.09.007" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2014</h4>

<ul>
  <li>
    <i>Melgoza, E. L.; Vallicrosa, G.; Sereno, L.; Ciurana, J.; Rodriguez, C. A.</i><br>
    <b>Rapid tooling using 3D printing system for manufacturing of customized tracheal stent</b><br>
    Rapid Prototyping Journal
    vol. 20 num. 1 pp. 2-12 ISSN 1355-2546 DOI 10.1108/RPJ-01-2012-0003<br>
     2014
    <a href="http://dx.doi.org/10.1108/RPJ-01-2012-0003" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2010</h4>

<ul>
  <li>
    <i>Miguez, S.; Vallicrosa, G.; Ciurana, J.;</i><br>
    <b>Modelling manufacturing processes: a comparison between multiple regression analysis and the neural networks approach</b><br>
    International Journal of Mechatronics and Manufacturing Systems (IJMMS)
    vol. 3 num. 5-6 pp. 405-424 ISSN 1753-1047 DOI 10.1504/IJMMS.2010.036066<br>
     2010
    <a href="http://dx.doi.org/10.1504/IJMMS.2010.036066" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h3>Congress</h3>

<h4>2017</h4>

<ul>
  <li>
    <i>Centelles, D.; Moscoso, E.; Vallicrosa, G.; Palomeras, N.; Sales, J.; Marti, J.V.; Marin, R.; Ridao, P.; Sanz, P.J.</i><br>
    <b>Wireless HROV control with compressed visual feedback over an acoustic link</b><br>
    MTS/IEEE OCEANS 2017-Aberdeen
    pp. 1-7 ISSN 978-1-5090-5278-3 DOI 10.1109/OCEANSE.2017.8084979<br>
    Aberdeen, June 2017
    <a href="https://doi.org/10.1109/OCEANSE.2017.8084979" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Hurtos, N.; Mallios, A.; Palomeras, N.; Bosch, J.; Vallicrosa, G.; Vidal, E.; Ribas, D.; Gracias, N.; Carreras, M.; Ridao, P.</i><br>
    <b>LOON-DOCK: AUV homing and docking for high-bandwidth data transmission</b><br>
    MTS/IEEE OCEANS 2017-Aberdeen
    pp. 1-7 ISSN 978-1-5090-5278-3 DOI 10.1109/OCEANSE.2017.8084806<br>
    Aberdeen, June 2017
    <a href="https://doi.org/10.1109/OCEANSE.2017.8084806" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2016</h4>

<ul>
  <li>
    <i>Vallicrosa, G.; Bosch, J.; Palomeras, N.; Ridao, P.; Carreras, M.; Gracias, N.</i><br>
    <b>Autonomous homing and docking for AUVs using Range-Only Localization and Light Beacons</b><br>
    10th IFAC Conference on Control Applications in Marine Systems (CAMS 2016). Published in IFAC-PapersOnLine
    vol. 49 num. 23 pp. 54-60 ISSN 2405-8963 DOI 10.1016/j.ifacol.2016.10.321<br>
    Trondheim, September 2016
    <a href="http://dx.doi.org/10.1016/j.ifacol.2016.10.321" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Mandić, F.; , Mišković, N.; Palomeras, N.; Carreras, M.; Vallicrosa, G.</i><br>
    <b>Mobile beacon control algorithm that ensures observability in single range navigation</b><br>
    10th IFAC Conference on Control Applications in Marine Systems (CAMS 2016). Published in IFAC-PapersOnLine
    vol. 49 num. 23 pp. 48-53 ISSN 2405-8963 DOI 10.1016/j.ifacol.2016.10.320<br>
    Trondheim, September 2016
    <a href="http://dx.doi.org/10.1016/j.ifacol.2016.10.320" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2015</h4>

<ul>
  <li>
    <i>Hernandez, J.D; Vidal, E.; Vallicrosa, G.; Galceran, E.; Carreras, M.</i><br>
    <b>Online Path Planning for Autonomous Underwater Vehicles in Unknown Environments</b><br>
    IEEE International Conference on Robotics and Automation (ICRA 2015)
    pp. 1152-1157 ISSN 1050-4729 DOI 10.1109/ICRA.2015.7139336<br>
    Seattle, May 2015
    <a href="http://dx.doi.org/10.1109/ICRA.2015.7139336" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Hernandez, J.D.; Vidal, E.; Vallicrosa, G.; Pairet, E.; Carreras, M.</i><br>
    <b>Simultaneous Mapping and Planning for Autonomous Underwater Vehicles in Unknown Environments</b><br>
    MTS/IEEE OCEANS 2015-Genova
    pp. 1-6 ISSN 978-1-4799-8736-8 DOI 10.1109/OCEANS-Genova.2015.7271469<br>
    Genova, May 2015
    <a href="http://dx.doi.org/10.1109/OCEANS-Genova.2015.7271469" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Palomer, A.; Ridao, P.; Ribas, D.; Vallicrosa, G.</i><br>
    <b>Multi-beam Terrain/Object Classification for Underwater Navigation Correction</b><br>
    MTS/IEEE OCEANS 2015-Genova
    pp. 1-5 ISSN 978-1-4799-8736-8 DOI 10.1109/OCEANS-Genova.2015.7271587<br>
    Genova, May 2015
    <a href="http://dx.doi.org/10.1109/OCEANS-Genova.2015.7271587" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Vallicrosa, G.; Ridao, R.; Ribas, D.</i><br>
    <b>AUV Single Beacon Range-Only SLAM with a SOG Filter</b><br>
    IFAC Workshop on Navigation, Guidance and Control of Underwater Vehicles (NGCUV'2015). Published in IFAC-PapersOnLine
    vol. 48 num. 2 pp. 26-31 ISSN 2405-8963 DOI 10.1016/j.ifacol.2015.06.005<br>
    Girona, April 2015
    <a href="http://dx.doi.org/10.1016/j.ifacol.2015.06.005" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Hernandez, J.D.; Vallicrosa, G.; Vidal, E.; Pairet, E.; Carreras, M.; Ridao, P.</i><br>
    <b>On-line 3D Path Planning for Close-proximity Surveying with AUVs</b><br>
    IFAC Workshop on Navigation, Guidance and Control of Underwater Vehicles (NGCUV'2015). Published in IFAC-PapersOnLine
    vol. 48 num. 2 pp. 50-55 ISSN 2405-8963 DOI 10.1016/j.ifacol.2015.06.009<br>
    Girona, April 2015
    <a href="http://dx.doi.org/10.1016/j.ifacol.2015.06.009" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2014</h4>

<ul>
  <li>
    <i>Vallicrosa, G.; Ridao, P.; Ribas, D.; Palomer, A.</i><br>
    <b>Active range-only beacon localization for AUV homing</b><br>
    IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2014)
    pp. 2286-2291 ISSN 2153-0866 DOI 10.1109/IROS.2014.6942871<br>
    Chicago, September 2014
    <a href="http://dx.doi.org/10.1109/IROS.2014.6942871" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Palomeras, N.; Peñalver, A.; Massot-Campos, M.; Vallicrosa, G.; Negre, P.; Fernandez, J.; Ridao, P.; Sanz, P.; Oliver-Codina, G.; Palomer, A.</i><br>
    <b>I-AUV Docking and Intervention in a Subsea Panel</b><br>
    IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS 2014)
    pp. 2279-2285 ISSN 2153-0866 DOI 10.1109/IROS.2014.6942870 <br>
    Chicago, September 2014
    <a href="http://dx.doi.org/10.1109/IROS.2014.6942870" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Vallicrosa, G.</i><br>
    <b>Octree-Based Subsampling Criteria for Bathymetric SLAM</b><br>
    XXXV Jornadas de Automatica
    pp. 1-6 ISSN 978-84-697-0589-6<br>
    Valencia, September 2014
    
  </li>
  <li>
    <i>Palomeras, N.; Ridao, P.; Ribas, D.; Vallicrosa, G.</i><br>
    <b>Autonomous I-AUV docking for fixed-base manipulation</b><br>
    19th World Congress of the International Federation of Automatic Control (IFAC 2014). Published in IFAC Proceedings Volumes
    vol. 47 num. 3 pp. 12160-12165 ISSN 1474-6670 DOI 10.3182/20140824-6-ZA-1003.01878<br>
    Cape Town, August 2014
    <a href="http://dx.doi.org/10.3182/20140824-6-ZA-1003.01878" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2013</h4>

<ul>
  <li>
    <i>Vallicrosa, G.;Palomer, A.;Ribas, D.;Ridao, P.</i><br>
    <b>Realtime AUV Terrain Based Navigation with Octomap in a natural environment</b><br>
    First Iberian Robotics Conference (ROBOT 2013). Published in Advances in Intelligent Systems and Computing
    vol. 252 pp. 41-53 ISSN 978-3-319-03412-6 DOI 10.1007/978-3-319-03413-3_4<br>
    Madrid, November 2013
    <a href="http://dx.doi.org/10.1007/978-3-319-03413-3_4" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Vallicrosa, G; Palomer, A; Ribas, D; Ridao, P.</i><br>
    <b>Towards Realtime AUV SLAM with Occupancy Grids</b><br>
    5th International Workshop on Marine Technology (MARTECH 2013). Published in Instrumentation Viewpoint
    vol. 15 pp. 59-60 ISSN 1886-4864<br>
    Girona, October 2013
    <a href="http://hdl.handle.net/2099/13926" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Vallicrosa, G.</i><br>
    <b>A Comparison of G2o Graph SLAM and EKF Pose Based SLAM With Bathymetry Grids</b><br>
    9th IFAC Conference in Control Applications in Marine Systems (CAMS 2013). Published in IFAC Proceedings Volumes
    vol. 46 num. 33 pp. 286-291 ISSN 1474-6670 DOI 10.3182/20130918-4-JP-3022.00065<br>
    Osaka, September 2013
    <a href="http://dx.doi.org/10.3182/20130918-4-JP-3022.00065" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Vallicrosa, G.; Palomer, A.; Ribas, D.; Ridao, P.</i><br>
    <b>Realtime AUV Terrain Based Navigation with Octomap</b><br>
    XXXIV Jornadas de Automatica. Published in Advances in Intelligent Systems and Computing
    vol. 252 pp. 41-53 ISSN 978-3-319-03412-6 DOI 10.1007/978-3-319-03413-3_4<br>
    Terrassa, September 2013
    <a href="http://dx.doi.org/10.1007/978-3-319-03413-3_4" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Palomer, A.; Ridao, P.; Ribas, D.; Mallios, A.; Gracias, N.; Vallicrosa, G.</i><br>
    <b>Bathymetry-based SLAM with Difference of Normals point-cloud subsampling and probabilistic ICP registration</b><br>
    2013 MTS/IEEE OCEANS-Bergen
    pp. 1-8 ISSN 978-1-4799-0000-8 DOI 10.1109/OCEANS-Bergen.2013.6608091<br>
    Bergen, June 2013
    <a href="http://dx.doi.org/10.1109/OCEANS-Bergen.2013.6608091" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2012</h4>

<ul>
  <li>
    <i>Melgoza, E.L.; Vallicrosa, G.; Sereno, L.; Rosell, A.; Rodriguez, C.A.; Elias, A.; Ciurana J.</i><br>
    <b>Rapid tooling using 3D printing system for manufacturing of customized tracheal stent</b><br>
    I International conference on design and processes for medical devices (PROMED 2012)
    vol. 1 pp. 73-80 ISSN 978-88-6608-058-9<br>
    Brescia, May 2012
    
  </li>
</ul>

<h4>2011</h4>

<ul>
  <li>
    <i>Vallicrosa, G.; Delgado, J.; Sereno, L.; Ciurana, J.</i><br>
    <b>Continuous contour printing versus layer by layer printing in an additive manufacturing technology</b><br>
    Proceedings of the 5th International Conference on Advanced Research in Virtual and Rapid Prototyping (VRAP 2011). Published in Innovative developments in Virtual and Physical Prototyping
    pp. 491-494 ISSN 978-0-415-68418-7 DOI 10.1201/b11341-79<br>
    Leiria, October 2011
    <a href="http://dx.doi.org/10.1201/b11341-79" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
  <li>
    <i>Sereno, L.; Vallicrosa, G.; Delgado, J.; Ciurana J.</i><br>
    <b>A new application for food customization with Additive Manufacturing technologies</b><br>
    IV Manufacturing Engineering Society Internacional Conference (MESIC 2011). Published in AIP Conference Proceedings
    vol. 1431 pp. 825-833 DOI 10.1063/1.4707640<br>
    Cadiz, September 2011
    <a href="http://dx.doi.org/10.1063/1.4707640" target="_blank"><img src="../icons/link.svg" width="16em" height="16em"></a>
  </li>
</ul>

<h4>2009</h4>

<ul>
  <li>
    <i>Vallicrosa, G.; Tauler, F.; Ciurana, J.</i><br>
    <b>Estudio de viabilidad de fabricación de herramientas esbeltas para EDM por proceso de torneado</b><br>
    Proceedings of the III Manufacturing Engineering Society Internacional Conference (MESIC 2009)
    vol. 1 pp. 421-426<br>
    Alcoy, June 2009
    
  </li>
</ul>

<h3>Presentations</h3>

<h4>2016</h4>

<ul>
  <li>
    <i>Vallicrosa, G.</i><br>
    <b>Octomap Terrain Based Navigation for AUVs</b><br>
    IV Jornadas de AUTOMAR
    <br>
    Madrid, June 2016
    
  </li>
</ul>

